h1 {
  font-size: 9em;
  line-height: 0.6;
}

h1 small {
  font-size: .3em;
}

.button-section p a {
  padding-left: 20px;
  padding-right: 20px;
}

body {
  background-color: #fff;
  color: #000;
}

.lead {
  line-height: 1.6;
}

.btn {
  border: none;
  line-height: 1.4;
  font-weight: 400;
  border-radius: 2px;
}

.btn-lg {
  min-width: 250px;
}

