body {
  background-color: #fff;
}

/*

  Navbars

 */

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

/*
  User button in navbar
 */

.nav > li > a.logout {
  padding-top: 5px;
  padding-bottom: 5px;
}

.equal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*
  Left menu bar
 */

.sidebar-menu {
  background-color: #fcfcfc;
  min-height: 100%;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  padding-right: 0;
  color: #000;
}

.side-navbar-menu {
  padding-right: 0;
  padding-left: 0;
}

/*
  Left menu bar header
 */

.side-navbar-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 30px;
}

.work-section {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}

.navbar-right {
  padding-right: 15px;
}

/*

  Inbox bagde

 */

.inbox {
  position: relative;
  top: -10px;
  left: -10px;
  font-size: .7em;
}

/*

  Navbar link

 */

.menu li a {
  color: #000;
  padding: 5px 10px;
}

.menu li a span.caret {
  margin-top: 10px;
}

.menu li a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  border-radius: 0;
  border-left: solid 3px #428bca;
  background-color: #f7f7f7;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
  color: #428bca;
}

ul.navbar-nav li:hover {
  background-color: #eeeeee;
}

/*

  Sidebar left menu

 */

.submenu {
  margin-left: 20px;
}

.submenu li a:hover,
.submenu > li.active > a {
  border-radius: 0;
  border-left: solid 3px #F87217;
  background-color: #FFFFE9;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
  color: #F87217;
}

/*

  Work section

 */

/*
Breadcrumb
*/

.breadcrumb {
  border-radius: 0;
  min-width: 100%;
  margin-right: 15px;
  font-size: 12px;
  background-color: #fcfcfc;
  margin-bottom: 5px;
}

.work-section {
  background-color: #fff;
}

.work-section-content {
  background-color: #fff;
  min-height: 650px;
}

.work-section-footer {
  margin-top: 20px;
}

.heading {
  border-bottom: solid 1px #2f97d1;
}

.heading h3 {
  margin-top: -5px;
  font-family: "Open Sans" ,Arial, sans-serif;
  font-weight: 100;
}

.heading h3 small {
  margin-left: 3px;
  font-size: 60%;
}

.sub-heading {
  padding-left: 15px;
}

/*

  Content

 */

.content {
  padding: 40px 15px 20px 15px;
  min-height: 600px;
}

.thumbnail {
  background-color: transparent;
}

.dropdown button {
  margin-top: 7px;
}

.subject {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 6px;
}

#emergencyPeopleList {
  margin-bottom: 20px;
}

.profile-picture {
  margin-bottom: 20px;
}

/*
  Custom helper class
 */

.badge-alert {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #a94442;
  border-radius: 10px;
}

.badge-info {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #3097D1;
  border-radius: 10px;
}

table thead tr th {
  font-weight: 600;
  font-size: 12px;
}

.placeholder {
  font-weight: 400;
  padding: 70px;
  overflow-wrap: break-word;
}

.grade-label {
  padding: .3em .7em .4em;
  font-size: 80%;
}

.btn {
  border: none;
  line-height: 1.4;
  font-weight: 400;
  border-radius: 2px;
}

.dropdown-menu {
  line-height: 1.5;
}

.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #5b98cc;
}

.circle {
  border-radius: 50%;
  border: solid 2px;
  min-width: 100%;
  background-color: #fff;
  text-align: center;
}

.circle p {
  padding: 30% 4%;
  font-size: 1.5em;
  margin: 0;
}

.circle-primary {
  color: #337ab7;
  border-color: #337ab7;
}

.circle-info {
  color: #5bc0de;
  border-color: #5bc0de;
}

.circle-success {
  color: #5cb85c;
  border-color: #5cb85c;
}

.circle-wraning {
  color: #f0ad4e;
  border-color: #f0ad4e;
}

.circle-danger {
  color: #d9534f;
  border-color: #d9534f;
}

.overview {
  min-height: 200px;
}

.circle-container .circle-caption {
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
}

.margin-top-xs {
  margin-top: 2%;
}

.btn.btn-default {
  background-color: #f7f7f7;
}

.btn.btn-default:hover {
  background-color: #efefef;
}

.btn-default {
  background-color: #f7f7f7;
}

.overview .row {
  margin-left: 0;
  margin-right: 0;
}

.loading.row {
  width: 100%;
  height: 100%;
  margin-top: 15%;
  margin-left: 45%;
}

#evaluation-list {
  padding-left: 15px;
  padding-right: 15px;
}

.table tbody tr:hover {
  background-color: #eef8ff;
}

table.message-thread-list > tbody > tr > td {
  vertical-align: middle;
}

/*

  Disable resize on textarea

 */

.message-form form textarea {
  resize: none;
}

/*

  Message thread

 */

/**
 * Computes a top-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */

/**
 * Computes a bottom-shadow for a card effect.
 *
 * @param {Number} $depth - depth level
 *
 * @return {List}
 */

/**
 * Gives a card depth effect.
 *
 * @param {Number} $depth - depth level (between 1 and 5)
 *
 * @link https://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
 *
 * @requires {function} top-shadow
 * @requires {function} bottom-shadow
 */

ul.message-thread {
  margin-top: 15px;
}

ul.message-thread > li.message-item {
  background-color: #fff;
  padding: 5px 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-bottom: 30px;
}

ul.message-thread > li.message-item.bg-muted {
  background-color: #f7f7f7;
}

ul.message-thread > li.message-item:hover {
  background-color: #fff;
  padding: 5px 10px;
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

ul.message-thread > li.message-item > div.message-sender {
  font-size: 0.9em;
  font-weight: 600;
  padding-left: 0;
  padding-right: 0;
}

ul.message-thread > li.message-item > div.message-sender > div.sender {
  text-transform: uppercase;
}

ul.message-thread > li.message-item > div.message-sender > div {
  padding-left: 0;
  padding-right: 0;
}

ul.message-thread > li.message-item > div.message-sender > div.timestamp {
  font-size: 0.9em;
}

ul.message-thread > li.message-item > hr {
  margin-top: 30px;
  margin-bottom: 15px;
}

@-webkit-keyframes highlight {
  from {
    background-color: #ffff99;
  }

  to {
    background-color: #ffffff;
  }
}

@keyframes highlight {
  from {
    background-color: #ffff99;
  }

  to {
    background-color: #ffffff;
  }
}

.highlight {
  -webkit-animation-name: highlight;
  animation-name: highlight;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

